<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="ConsoleApplicationPath" value="C:\Users\Chetna.Mittal\Desktop\Demo\HostAPI\TargetConsoleApplication\bin\Debug\TargetConsoleApplication.exe" /> 
  </appSettings>
  <connectionStrings>
    <add name="DemoDb" connectionString=" I am connection string . Takes you to the database" />
  </connectionStrings>
</configuration>